body.pink {
  background-color: #f7bed2
}

.header {
  height: 60px;
  background-color: @darkgrey;
  position: fixed;
  width: 100%;
}

.header img {
  padding: 10px 3px;
}

.menu-left {
  float: left;
  text-align: left;
}

.menu-center {
  display: inline-block;
  text-align: center;
}

.menu-right {
  float: right;
  text-align: right;
}